@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing:border-box ;/*Damit child container in Vater beleibt*/
    scroll-behavior: smooth;
}

header{
    background-color: rgb(247, 247, 247);
    width: 100%;
    position: fixed;/*Damit contact.... beim Skrollen mit runter kommt*/
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px; /*top bottom; right left*/
}
.logo{
    text-decoration: none;
    color: rgb(5, 47, 235);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: blue;
    text-decoration: none;
    font-size: 1.1em;
     font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: blueviolet;
}
section{
    padding-left: 700px;
}
.main{
    width: 100%;
    min-height: 100vh;/*Damit alle schreiben sichtbar sein*/
    display: flex;
    align-items: center;
    background: url(images/WhatsApp\ Image\ 2022-03-04\ at\ 21.13.29.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(97, 165, 42);
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color:rgb(2, 32, 23);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: rgb(44, 42, 42);
    background-color: bisque;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: gold;
    transform: scale(1.2);
}
.social-icons a{
    color: blueviolet;
    padding-left: 40px;
    font-size: 1.7em;

}
.title{
    display: flex;
    color: blue;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30px ;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(240, 234, 234);
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(2, 32, 23);
    border-radius: 10px;
    padding: 25px;
    margin: 50px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);

}
.icon{
    color: blue;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: blue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects.content{
    margin-top: 30px;
}
.project-card{
    background-color: aliceblue;
    border: 1px solid aliceblue;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
    
}

.project-info{
    padding: 1em;

}
.project-category{
    font-size: 0.8em;
    color: black;
}
.project-title{
    display: flex;
    justify-content: space-between;/*space zwischen more details,*/
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: blue;
}
.more-details:hover{
    color: crimson;
}
.contact.icon{
    font-size: 4,5em;
}
.contact.info h3{
    color: rgb(236, 231, 231);
}
.footer{
    background-color: black;
    color: aliceblue;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: aquamarine;
}

@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h3{
        font: size 1.6em ;
    }
    .content{
        flex-direction: column;
        align-items: center;/*nicht justify, weil es mit row anwendbar ist*/
    }
}
@media(max-width:641){
    body{
        font-size: 12px;

    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media(max-width:300px) {
    body{
        font-size: 10px;
    }
}
.About-me h3{
    color:rgb(28, 180, 135);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 50px;
}
.About-me h3 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(97, 165, 42);
    font-size: 3em;
    font-weight: 600;
    padding-left: 50px;
}
.About-me h4{
    display: inline-block;
    margin-top: 10px;
    color: rgb(96, 133, 66);
    font-weight: 600;
    padding-left: 50px;
}